*{
    margin:0;
    padding:0;
}

body{
    background-color:#716F87;
}

.header {
    background-color: #1E1E26;
    padding: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item:hover {
    color: #7D4EBF;
}

.mainbody{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:25px;
}

h1{
    color:black;
    font-style:italic;
}

button{
    background: linear-gradient(to right, #32343B 0%, #626570 100%);
    background-size: 200% 100%;
    background-position: right;
    border:none;
    border-radius:10px;
    margin:10px;
    padding:10px;
}

button:hover{
    background-position:left;
    color:white;
    cursor:pointer;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:20px;
}

.container > div {
    border-radius: 10px;
    background: linear-gradient(to right, #CEE8AA 0%, #7AAB86 100%);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
    background-size: 200% 100%;
    background-position: right;
    width: 50vh;
    margin: 10px;
    padding: 10px;
    transition: background-position 1s ease-in-out;
}

.container > div:hover {
    background-position: left;
    cursor: pointer;
}


.container > div > h2{
    text-decoration:underline;
    padding-bottom:5px;
}

.container > div > p{
    font-size:120%;
    padding-bottom:5px;
}

.containeranime{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:20px;
}

.containeranime > div {
    border-radius: 10px;
    background: linear-gradient(to right, #FECC69 0%, #C69535 100%);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
    background-size: 200% 100%;
    background-position: right;
    width: 50vh;
    margin: 10px;
    padding: 10px;
    transition: background-position 1s ease-in-out;
}

.containeranime > div:hover {
    background-position: left;
    cursor: pointer;
}


.containeranime > div > h2{
    text-decoration:underline;
    padding-bottom:5px;
}

.containeranime > div > p{
    font-size:120%;
    padding-bottom:5px;
}

.containerfilm{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:20px;
}

.containerfilm > div {
    border-radius: 10px;
    background: linear-gradient(to right, #CA637E 0%, #a14160 100%);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
    background-size: 200% 100%;
    background-position: right;
    width: 50vh;
    margin: 10px;
    padding: 10px;
    transition: background-position 1s ease-in-out;
}

.containerfilm > div:hover {
    background-position: left;
    cursor: pointer;
}


.containerfilm > div > h2{
    text-decoration:underline;
    padding-bottom:5px;
}

.containerfilm > div > p{
    font-size:120%;
    padding-bottom:5px;
}

.containerserie{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:20px;
}

.containerserie > div {
    border-radius: 10px;
    background: linear-gradient(to right, #AFD6E8 0%, #7DA2B4 100%);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
    background-size: 200% 100%;
    background-position: right;
    width: 50vh;
    margin: 10px;
    padding: 10px;
    transition: background-position 1s ease-in-out;
}

.containerserie > div:hover {
    background-position: left;
    cursor: pointer;
}


.containerserie > div > h2{
    text-decoration:underline;
    padding-bottom:5px;
}

.containerserie > div > p{
    font-size:120%;
    padding-bottom:5px;
}

@media screen and (max-width: 600px) {
    .container > div{
        width:90%;
    }

    .containeranime > div{
        width:90%;
    }

    .containerfilm > div{
        width:90%;
    }
    .containerserie > div{
        width:90%;
    }
    
}

.search-bar {
    margin: 20px 0;
    text-align: center;
}

#search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #426C54;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

#search-input:focus {
    box-shadow: 0 0 15px #375a46;
}

#serie-details{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:20px;
    text-align:center;
}

#serie-details > h1{
    text-decoration:underline;
    margin-bottom:10px;
}

#serie-details > p{
    margin-bottom:10px;
}


#serie-details > img{
    width:20vh;
    margin:20px;
    border-radius:10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.8);
}